{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
  {% block banner %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.bundle.js"></script>
  <script type=module src="/assets/govukFrontendInit.js"></script>
  {% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
  {% endfor %}
{% endblock %}
