{%- from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs -%}
{%- from "../predictor-timeline-item/macro.njk" import predictorTimelineItem -%}
{%- from "arns/components/predictor-badge/macro.njk" import predictorBadge -%}
{%- if params.url and params.url | length > 0 -%}
  {%- set url = params.url -%}
{%- else -%}
  {%- switch params.environment | lower -%}
  {%- case "dev" -%}{%- case "development" -%}
    {%- set url = "https://manage-people-on-probation-dev.hmpps.service.justice.gov.uk" -%}
  {%- case "preprod" -%}{%- case "pre-production" -%}{%- case "preproduction" -%}
    {%- set url = "https://manage-people-on-probation-preprod.hmpps.service.justice.gov.uk" -%}
  {%- case "prod" -%}{%- case "production" -%}{%- default -%}
    {%- set url = "https://manage-people-on-probation.hmpps.service.justice.gov.uk" -%}
  {%- endswitch -%}
{%- endif -%}
{{ govukBreadcrumbs({
  items: [
    { text: "Cases", href: url + "/case" },
    { text: params.name, href: url + "/case/" + params.crn }
  ].concat(params.breadcrumbs | default([]))
}) }}
<div class="case-details-header">
  <div class="case-details-header__row">
    <ul class="govuk-list govuk-caption-m govuk-!-margin-bottom-3">
      <li>
        CRN: <span data-qa="case-details-header-crn">{{ params.crn }}</span>
      </li>
      <li>
        Date of birth:
        <span data-qa="case-details-header-dob">{{ params.dateOfBirth }}</span>
        (<span data-qa="case-details-header-age">{{ params.age }}</span> years old)
      </li>
      <li>
        Tier: <a data-qa="case-details-header-tier" href="/case/{{ params.crn }}">{{ params.tierScore }}</a>
      </li>
    </ul>
    {%- if not params.riskData -%}
    <div class="case-details-header__predictors">
          {%- if params.rosh and params.rosh !== "NOT_FOUND" -%}
            <div data-qa="case-details-header-rosh">
              {{ predictorTimelineItem({ type: "ROSH", level: params.rosh }) }}
            </div>
          {%- endif -%}
          {%- if params.rsr -%}
            <div data-qa="case-details-header-rsr">
              {{ predictorTimelineItem({ type: "RSR", level: params.rsr.band, score: params.rsr.score }) }}
            </div>
          {%- endif -%}
    </div>
    {%- endif -%}
  </div>
  <div class="case-details-header__row case-details-header__name">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ params.name }}</h1>
  </div>
  {%- if params.riskData and params.riskData.assessments | length -%}
  <div class="case-details-header__row">
    <div class="case-details-header__predictors_ogrs4">
      <div data-qa="case-details-header-rsr">
        {%- if params.riskData.assessments[0].combinedSeriousReoffendingPredictor.band != "NOT APPLICABLE" -%}
          {{ predictorBadge({ data: params.riskData, predictor: "combinedSeriousReoffendingPredictor" }) }}
        {%- endif -%}

        {%- if params.riskData.assessments[0].combinedSeriousReoffendingPredictor.band -%}
          {{ predictorBadge({ data: params.riskData, predictor: "rsr" }) }}
        {%- endif -%}
      </div>

      {%- if params.rosh and params.rosh !== "NOT_FOUND" -%}
          {%- set roshBand = 'VERY HIGH' if params.rosh == 'VERY_HIGH' else params.rosh -%}
          {%- set riskDataRosh = {
                          assessments: [
                              {
                                  rosh: {
                                      name: 'RISK OF SERIOUS HARM',
                                      band: roshBand
                                  }
                              }
                          ]
                      } -%}
        <div data-qa="case-details-header-rosh">
          {{ predictorBadge({ data: riskDataRosh, predictor: "rosh", showScore: false }) }}
        </div>
      {%- endif -%}
    </div>
  </div>
  {%- endif -%}
</div>
