$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/all";
@import "@ministryofjustice/frontend/moj/all";
@import '@ministryofjustice/hmpps-probation-frontend-components/dist/assets/footer';
@import '@ministryofjustice/hmpps-probation-frontend-components/dist/assets/header';

@import './components/probation-case-details-header';
@import './components/predictor-scores';
@import './components/header-bar';
@import './components/banner';
@import './local';
