.govuk-main-wrapper {
  min-height: 600px;
}

table.heatmap {
  caption, th {
    text-align: center;
  }
  td, td:last-child {
    padding: govuk-spacing(2) govuk-spacing(3);
  }
  @for $i from 1 through 10 {
    td.heatmap-#{$i * 10}, th.heatmap-#{$i * 10} {
      background-color: lighten(rgb(113, 48, 122), 20 - $i * 2);
      border: 1px solid govuk-colour('white');
      color: govuk-colour('white');
    }
  }
}