@import "govuk-frontend/dist/govuk/settings/colours-applied";
@import "govuk-frontend/dist/govuk/settings/spacing";

.case-details-header {
  box-shadow: inset 0 -1px $govuk-border-colour;
  margin-bottom: 40px;
  padding-top: 40px;

  li {
    display: inline-block;

    &:not(:last-child)::after {
      color: $govuk-secondary-text-colour;
      content: "|";
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .case-details-header__row {
    display: flex;
  }

  .case-details-header__predictors > div {
    margin-left: map-get($govuk-spacing-points, 4);
    display: inline-block;
  }

  .case-details-header__name {
    padding-bottom: 40px;

    & h1 {
      margin-bottom: 0;
    }
  }
}
