{% extends "../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "moj/components/timeline/macro.njk" import mojTimeline %}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "arns/components/predictor-scale/macro.njk" import predictorScale %}
{% from "../../_components/probation-primary-navigation/macro.njk" import probationPrimaryNavigation %}
{% from "../../_components/probation-case-details-header/macro.njk" import probationCaseDetailsHeader %}

{% set pageTitle = applicationName + " - View" %}
{% set mainClasses = "app-container govuk-body govuk-!-padding-top-1" %}

{% block banner %}
  {{ probationPrimaryNavigation({ environment: environmentName }) }}
{% endblock %}

{% block beforeContent %}
  {{ probationCaseDetailsHeader({
    environment: environmentName,
    name: (personalDetails.name.forename + " " + personalDetails.name.surname),
    crn: personalDetails.crn,
    dateOfBirth: (personalDetails.dateOfBirth | formatDate("d MMMM yyyy")),
    age: personalDetails.age,
    tierScore: tierCalculation.tierScore,
    rosh: rosh,
    rsr: rsr,
    breadcrumbs: [{ text: "Tier" }]
  }) }}
{% endblock %}

{% block content %}
  {% if warnings.length %}
    {{ govukErrorSummary({ titleText: "There is a problem", errorList: warnings }) }}
  {% endif %}

  {{ mojSubNavigation({
    label: "Sub navigation",
    items: [{
      text: "Summary",
      href: "/v3/case/" + personalDetails.crn,
      active: true
    }, {
      text: "Calculation",
      href: "/v3/case/" + personalDetails.crn + "/calculation"
    }, {
      text: "History",
      href: "/v3/case/" + personalDetails.crn + "/history"
    }]
  }) }}

  <section>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Summary</h2>
        <p>{{ tierSummary | safe }}</p>

        {{ govukTable({
          firstCellIsHeader: true,
          head: [{ text: "Factor" }, { text: "Tier" }],
          rows: summaryTable
        }) }}

        {% if indicative %}
          {% set insetTextHtml %}
            <strong>This tier is indicative</strong>, meaning the calculation was not based on a dynamic assessment.
            <a class="govuk-link govuk-link--no-visited-state" href="{{ oasysUrl }}" target="_blank">
              Complete a dynamic assessment</a> to get a more accurate tier.
          {% endset %}
          {{ govukInsetText({ html: insetTextHtml }) }}
        {% endif %}

        <p class="govuk-caption-m">
          Last calculated
          <abbr title="{{ tierCalculation.calculationDate }}">{{ tierCalculation.calculationDate | ago }}</abbr>.
        </p>
      </div>
    </div>
  </section>
{% endblock %}
