{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <h1 class="govuk-heading-l">Check a Tier</h1>
    <div class="govuk-grid-column-two-thirds">
        <p>You can use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>check the tier for a person on probation</li>
            <li>investigate what factors contributes to a person's tier value</li>
        </ul>

        <p>A <strong>tier</strong> reflects the level of risk and complexity involved in managing a probation case. It
        informs workload measurement and case allocation decisions, as well as planning and resourcing at a strategic
        management level. The tier is calculated according to the Unified Tiering Model, which is made up of various
        factors including:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>assessment scores such as
                <abbr title="Combined Serious Reoffending Predictor">CSRP</abbr> and
                <abbr title="All Reoffending Predictor">ARP</abbr>,
            </li>
            <li>register levels such as
                <abbr title="Risk of Serious Harm">RoSH</abbr> and
                <abbr title="Multi-Agency Public Protection Arrangements">MAPPA</abbr>,
            </li>
            <li>additional factors such as risk to children, or self-harm.</li>
        </ul>

        {%- from "govuk/components/button/macro.njk" import govukButton -%}
        {{ govukButton({ text: "Start now", href: "/search", isStartButton: true }) }}
    </div>
{% endblock %}
